<div class="mini-footer">
  <div class="row">
    <div class="medium-5 large-3 column logo-navarra-footer-container">
      <a href="https://navarra.es/<%= I18n.locale %>">
        <div class="logo-navarra-footer-detail">
          <div class="logo-navarra-footer-detail-red"></div>
          <div class="logo-navarra-footer-detail-blue"></div>
        </div>
        <%= image_pack_tag("media/images/logo-navarra-footer.png", class: 'logo-gobierno-navarra-footer', alt: t("layouts.decidim.footer.cc_by_license")) %>
      </a>
    </div>
    <div class="medium-5 large-7 column">
      <div class="navarra-footer-menu">
        <div class="navarra-footer-menu-element">
          <a
            href="https://www.navarra.es/home_<%= I18n.locale %>/pages/organos-participacion/"
            class="navarra-footer-menu-element-text"
          >
            <%= t('footer_menu.participation') %>
          </a>
        </div>
        <div class="navarra-footer-menu-element">
          <a
            href="https://www.navarra.es/home_<%= I18n.locale %>/Indices/Sugerencias/"
            class="navarra-footer-menu-element-text"
          >
            <%= t('footer_menu.contact') %>
          </a>
        </div>
        <div class="navarra-footer-menu-element">
          <a
            href="/users/sign_in"
            class="navarra-footer-menu-element-text"
          >
            <%= t('footer_menu.users') %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
