<% add_decidim_page_title(t(".title")) %>

<% provide :title do %>
  <h1 class="h1"><%= t ".title" %></h1>
<% end %>

<%= decidim_form_for(@form, url: decidim_system.participando_organization_setting_path(current_organization), method: :put) do |f| %>
  <div class="form__wrapper">
    <h2 class="h2"><%= organization_name(current_organization) %></h2>
    <%= f.text_field :application, autofocus: true %>

    <%= f.text_field :user %>

    <%= f.text_field :password %>

    <%= f.text_field :encryption_key %>
  </div>


  <div class="form__wrapper-block">
    <%= f.submit t(".save"), class: "button button__sm md:button__lg button__primary" %>
  </div>
<% end %>